* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", serif;
}

body{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;  
}

nav{
    width: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-size: small;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.link:hover{
    cursor: pointer;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

#mg-game-game-area {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px;
}

.mg-game-card {
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.6s;
}

.mg-game-card.flip {
  transform: translateX(-100%) rotateY(-180deg);
}

.mg-game-card-front,
.mg-game-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  border-radius: 5px;
}

.mg-game-card-front {
  background: white;
  border: 1px solid black;
  color: black;
}

.mg-game-card-back {
  background: white;
  border: 1px solid black;
  transform: rotateY(180deg);
}

#resetGame {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
}